In [5]:
import pandas as pd
from datetime import datetime

In [21]:
data = pd.read_csv("~/Downloads/archive/train_adc/train.csv")
#Convert it to datetime before writing to quaaquet.
data['impression_time'] = pd.to_datetime(data['impression_time'])
data.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [22]:
data.to_parquet("data/train.parquet")

In [5]:
item = pd.read_csv("~/Downloads/archive/train_adc/item_data.csv")
item.head()

   item_id  item_price  category_1  category_2  category_3  product_type
0    26880        4602          11          35          20          3040
1    54939        3513          12          57          85          6822
2    40383         825          17           8         279          1619
3     8777        2355          13          58         189          5264
4   113705        1267          17          39         151         10239

In [6]:
item.to_parquet("data/item_data.parquet")

In [23]:
view_log = pd.read_csv("~/Downloads/archive/train_adc/view_log.csv")
view_log['server_time'] = pd.to_datetime(view_log['server_time'])
view_log.head()

          server_time device_type  session_id  user_id  item_id
0 2018-10-15 08:58:00     android      112333     4557    32970
1 2018-10-15 08:58:00     android      503590    74788     7640
2 2018-10-15 08:58:00     android      573960    23628   128855
3 2018-10-15 08:58:00     android      121691     2430    12774
4 2018-10-15 08:58:00     android      218564    19227    28296

In [38]:
view_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3118622 entries, 0 to 3118621
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   server_time  datetime64[ns]
 1   device_type  object
 2   session_id   int64
 3   user_id      int64
 4   item_id      int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 119.0+ MB

In [24]:
view_log.to_parquet("data/view_log.parquet")

In [2]:
from feast import FeatureStore

In [3]:
store = FeatureStore(repo_path=".")

Feast is an open source project that collects anonymized usage statistics. To opt out or learn more see https://docs.feast.dev/v/master/feast-on-kubernetes/advanced-1/telemetry
/Users/adekunleba/anaconda3/envs/pythonProject/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [6]:
entity_df = pd.DataFrame.from_dict({
    "session_id": [218564],
    "event_timestamp" : datetime(2018, 10, 15, 8, 58, 00),
})

In [7]:
data_df = store.get_historical_features(feature_refs=["view_log_table:device_type"], entity_df=entity_df)
ex_data = data_df.to_df()
ex_data.head()

FeatureBucketForbiddenAccess: Private Registry Bucket deploy-mlops forbidden Access

In [51]:
online_data_df = store.get_online_features(feature_refs=["view_log_table:device_type"], entity_rows=[{"session_id": 573960}])
online_ex_data = online_data_df.to_df()
online_ex_data.head()

   session_id view_log_table__device_type
0      573960                        None

            event_timestamp  session_id view_log_table__device_type
0 2018-10-15 08:58:00+00:00      573960                     android

In [37]:
check = pd.read_parquet("/Users/adekunleba/MyProjects/mlops/feature_ops/junks/feature_repo/data/driver_stats.parquet")

check.head()

,datetime,driver_id,conv_rate,acc_rate,avg_daily_trips,created
0,2021-06-25 01:00:00+00:00,1005,0.521360,0.815559,263,2021-07-10 01:29:17.552
1,2021-06-25 02:00:00+00:00,1005,0.726197,0.885668,984,2021-07-10 01:29:17.552
2,2021-06-25 03:00:00+00:00,1005,0.735627,0.111781,854,2021-07-10 01:29:17.552
3,2021-06-25 04:00:00+00:00,1005,0.518403,0.191643,610,2021-07-10 01:29:17.552
4,2021-06-25 05:00:00+00:00,1005,0.656814,0.309438,447,2021-07-10 01:29:17.552